node_modules/
dist/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
mobile-web/
android/.gradle/
android/build/
android/local.properties
android/app/build/
android/capacitor-cordova-android-plugins/build/
android/keystore.properties
build/android-release.jks
android/app/after-space-release.jks
android/*.tmp
